<div class="container-fluid admin-title-area">
    <div class="container">
        <h2>Change Password</h2>
    </div>
</div>
<div class="container formcontainer">
    <form id="password_form" method="post" ng-submit="passwordChange()">
        <div class="row">
            <div class="col-sm-5">
                <div class="red"><span ng-repeat="error in password_error.non_field_errors">[[error]]</span></div>
                <input ng-model="current_password" type="password" class="form-control" placeholder="Old Password"/>
                <div class="red"><span ng-repeat="error in password_error.current_password">[[error]]</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <input ng-model="new_password" type="password" class="form-control" placeholder="New Password"/>
                <div class="red"><span ng-repeat="error in password_error.new_password">[[error]]</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <input ng-model="re_new_password" type="password" class="form-control" placeholder="Re-enter New Password"/>
                <div class="red"><span ng-repeat="error in password_error.re_new_password">[[error]]</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <button id="form_submit" type="submit" class="btn btn-primary">Change</button>
                <button onclick="history.go(-1)" class="btn btn-default" type="reset">Cancel</button>
            </div>
        </div>
    </form>
</div>