<!--WRAPPER-->
<div id="wrapper">
    <div class="loginlogo"><a href="/#/"><img src="/static/images/favicon.png" alt="logo"/></a></div>

    <!--LOGIN FORM-->
    <form ng-show="login_window" class="login-form" id="login_form" ng-submit="login()">
        <div class="header">
            <h1>Login </h1>
        </div>

        <!--CONTENT-->
        <div class="content">
            <div class="red"><span ng-repeat="error in login_error.non_field_errors">[[error]]</span></div>
            <input required name="username" type="email" class="input phone" placeholder="Email" ng-model="login_username"/>
            <div class="red"><span ng-repeat="error in login_error.username">[[error]]</span></div>
            <input required name="password" type="password" class="input password" placeholder="Password" ng-model="login_password"
                                  value="Password" onfocus="this.value=''"/>
            <div class="red"><span ng-repeat="error in login_error.password">[[error]]</span></div>
        </div>
        <!--END CONTENT-->

        <div class="footer">
            <input type="submit"  name="submit" value="Login" class="button"/>
            <a ng-click="showSignUp()" style="font-size:15px; color:#333;">Don't have an account? Sign Up</a>
        </div>
    </form>
    <!--END LOGIN FORM-->

    <!--SIGN-UP FORM-->
    <form ng-hide="login_window" id="sign_up_form" class="login-form" ng-submit="signUp()">
        <div class="header">
            <h1>Sign UP </h1>
        </div>

        <!--CONTENT-->
        <div class="content">
            <div class="red"><span ng-repeat="error in sign_up_error.non_field_errors">[[error]]</span></div>

            <input required name="first_name" type="text" class="input username" placeholder="Name" ng-model="first_name"/>
            <div class="red"><span ng-repeat="error in sign_up_error.first_name">[[error]]</span></div>

            <input required name="username" type="email" class="input phone" placeholder="Email" ng-model="username"/>
            <div class="red"><span ng-repeat="error in sign_up_error.username">[[error]]</span></div>

            <input required name="password" type="password" class="input password" placeholder="Password" ng-model="password"
                                  value="Password" onfocus="this.value=''"/>
            <div class="red"><span ng-repeat="error in sign_up_error.password">[[error]]</span></div>
        </div>
        <!--END CONTENT-->

        <div class="footer">
            <input type="submit" id="sign_up_button" name="submit" value="Sign up" class="button"/>
            <a ng-click="showLogin()" style="font-size:15px; color:#333;">Already have an account? Login</a>
        </div>
    </form>
    <!--END SIGN-UP FORM-->
</div>
<!--END WRAPPER-->
<script>
    $('body').addClass('loginarea');
    $('.navbar-default').attr('style', 'display: none;');
</script>
