<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<!-- Angular -->
<script src="/static/js/angular/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-sanitize.js"></script>
<script src="/static/js/angular/angular-route.js"></script>
<script src="/static/js/angular/ngStorage.min.js"></script>
<script src="/static/js/angular/app.js"></script>
<script src="/static/js/angular/controller.js"></script>
